body{
	color: white!important;
}

section{
	background: #292614;
}
.bg-dark{
	background: black!important;
}
.page-home{
	padding: 15%;
	background-image: url(../images/chicago-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top;
}
.defi{
	background: url(../images/tanda.JPG);
	background-size: cover;
	padding: 15%;
	color: white;

}
.aka{
	background: url(../images/akademia.JPG);
	background-size: cover;
	padding: 15%;
	color: white;

}
.maj{
	background: url(../images/maj.JPG);
	background-size: cover;
	padding: 15%;
	color: white;

}
.defi h2{
	backdrop-filter: brightness(0.1);
}
.aka h2{
	backdrop-filter: brightness(0.1);
}
.maj h2{
	backdrop-filter: brightness(0.1);
}
.home-c{
    background: #19160ca6;
    color: white;
    padding: 5%;
}
.home-c p{
	text-align: center;
	font-weight: bold;
}
.projects{
	text-align: center;
}
.page{
	padding:15%;
}
.navbar{
	position: fixed;
    width: 100%;
    z-index: 100;
}

h2{
	font-weight: bold!important;
}
ul{
	list-style: disc!important;
    text-align: left;
}
@media only screen and (max-width: 600px) {
.page-home {
    padding: 83% 11%;
	}
	h1{
		font-size: 34px!important;
	}
}

